<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Your profile!</h1>
		<h2>Go to account settings to change</h2>
	</div>

	 <div class="panel-body">
	</div>
</div> 
        <li class="square-image-50"><%= image_tag(current_user.profile_picture.url(:thumb)) %></li>
<h3>First name:
<br>
<%= current_user.first_name%> 
<br>
<br>
Last name:
<br>
<%= current_user.last_name%> 
<br>
<br>
Birthday:
<br>
<%= current_user.birthdate%>
<br>
<br>
Hometown:
<br>
<%= current_user.hometown%>
</h3>